<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Animated Background Login Screen</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<form id="login" action="/logins" method="POST" >
<div class="container">
	<div id="login-box">
		<div class="logo">
			<img src="https://place-hold.it/100x100?text=APPSEC" class="img img-responsive img-circle center-block"/>
			<h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
		</div><!-- /.logo -->
		<div class="controls">
			<input type="text" name="username" placeholder="Username" class="form-control" />
			<input type="password" name="password" placeholder="Password" class="form-control" />
			<button type="submit" class="btn btn-default btn-block btn-custom">Login</button>
		</div>
	</div>
</div>
</form>
<div id="particles-js"></div>
<!-- partial -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'></script>
<script src='https://code.jquery.com/jquery-1.11.1.min.js'></script><script src="{{ url_for('static', filename='js/script.js')}}"></script>

</body>
</html>
